<h1 class="m-4 title is-2">Login</h1>
<h2 class="m-4 title is-5 red" style='color:#f91616'><%= flash[:alert] %></h2>
<% if notice %>
<h2 class="m-4 title is-5 red" style='color:#f91616'><%= notice %></h2>
<% end %>	
<%= form_with url:signin_path do |f| %>
	<div class="field m-4">
		<%= f.label :email,class:'label' %>
		<div class="control mr-6 ">
		<%= f.text_field :email,class:'input ' %>
		</div>
	</div>
	<div class="field m-4 ">

		<%= f.label :password,class:'label' %>
		<div class="control mr-6">
			
		<%= f.password_field :password,class:'input' %> <br>
		</div>


	</div>
	<div class="m-4">
	<%= f.submit "Sign in ",class:'button is-success' %>
	</div>
<% end %>