<%= form_with(model: boi) do |form| %>
  <% if boi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boi.errors.count, "error") %> prohibited this boi from being saved:</h2>

      <ul>
        <% boi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :subj %>
    <%= form.text_field :subj %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
