<p id="notice"><%= notice %></p>

<h1>Bois</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Subj</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bois.each do |boi| %>
      <tr>
        <td><%= boi.name %></td>
        <td><%= boi.author %></td>
        <td><%= boi.subj %></td>
        <td><%= boi.price %></td>
        <td><%= link_to 'Show', boi %></td>
        <td><%= link_to 'Edit', edit_boi_path(boi) %></td>
        <td><%= link_to 'Destroy', boi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boi', new_boi_path %>
