<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boi.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @boi.author %>
</p>

<p>
  <strong>Subj:</strong>
  <%= @boi.subj %>
</p>

<p>
  <strong>Price:</strong>
  <%= @boi.price %>
</p>

<%= link_to 'Edit', edit_boi_path(@boi) %> |
<%= link_to 'Back', bois_path %>
