<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field m-5">
    <div class="control">
      <%= form.label :title ,class:'label'%>
      <%= form.text_field :title ,class:'input'%>
    </div>
  </div>

  <div class="field m-5">
    <div class="control">
      
    <%= form.label :body,class:'label' %>
    <%= form.text_area :body,class:'textarea' %>
    </div>
  </div>

 

  <div class="actions m-5">
    <%= form.submit class:'button is-success' %>
  </div>
<% end %>
