<h1 class="title m-5">Editing Tweet</h1>

<%= render 'form', tweet: @tweet %>

<div class="m-5">
	<%= link_to 'Show', @tweet ,class:'button is-warning'%> 	
    <%= link_to 'Back', tweets_path ,class:'button is-link'%>
</div>

