<!-- <p id="notice"><%= notice %></p> -->

<% @tweets.each do |tweet| %>
    <div class="card m-5 ">
    <div class="card-content">
      <div class="content">
        <h2> <%= tweet.title %> </h2>
        <p> <%= tweet.body %> </p>
      </div>
    </div>
  </div>
  <hr>
  <!-- <hr> -->
<% end %>

