<p id="notice"><%= notice %></p>

<div class="card m-5 ">
    <div class="card-content">
      <div class="content">
        <h2> <%= @tweet.title %> </h2>
        <p> <%= @tweet.body %> </p>
      </div>
      <%= link_to 'Back', tweets_path,class:'button is-link' %>		
      <%= link_to 'Edit', edit_tweet_path(@tweet),class:'button is-warning' %> 
    </div>
  </div>

