<h1>Signup</h1>

<% if @user.errors.any?  %>
	<% @user.errors.full_messages.each do |msg| %>
		<%= msg %> <br>
	<% end %>
<% end %>
<%= form_with model:@user  ,url:signup_path do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.label :password_confirmation,"Confirm password" %>
	<%= f.password_field :password_confirmation %> <br> <br>
	<%= f.submit "Sign up" %>
<% end %>