<% if flash[:notice]  %>
	<%= flash[:notice] %>
<% end %>
<h1>All books</h1>
<h2>  <%= link_to "Create a book list", new_book_path %> </h2>
<% @books.each do |i| %>
	 <p>Name:-<%= i.name %></p>
	 <p>Subject:-<%= i.subj %></p>
	 <p>Author:-<%= i.author %></p>
	<p>Price:- <%= i.price %></p>
	<%= link_to "edit", edit_book_path(i) %> |
	<%= link_to "Show", book_path(i) %> |

	<%= link_to "Delete",book_path(i),method: :delete,data:{confirm:"Are you sure want to delete?"}  %>
	<hr>

<% end %>