<h1> Create a new book listing</h1>
<%= render "books/part/err" %>
<hr>
<%= form_for @book do |f| %>
	Book Name:- <%= f.text_field :name %> <br><br>
	Subject:- <%= f.text_field :subj %> <br><br>
	Author:- <%= f.text_field :author %><br><br>
	Price:- <%= f.text_field :price %> <br><br>
	<%= f.submit%>
	<%= link_to "Home",books_path  %>
	
<% end %>