<h1>edit your favourite food</h1>

<%= form_for @food do |f| %>
	Food Name:- <%= f.text_field :name %><br><br>
	Food Rating:- <%= f.number_field :rating %><br><br>
	Food price:- <%= f.number_field :price %><br><br>
	<%= f.submit %>
	<%= link_to "home", foods_path %>
	
<% end %>
