<h3> <%= flash[:notice] %> </h3>

<h1>Here is your all of the foods</h1>
<h2> <%= link_to "create new food ", new_foods_path %> </h2>
<hr>


<% @foods.each do |i| %>

		<h3> <%= link_to i.name, food_path(i)  %> </h3>
		<%= link_to "edit",edit_foods_path(i)  %> |
		<%= link_to 'delete',food_path(i),method: :delete,data:{confirm:"DELETE ?"}  %>
		<hr>
			
<% end %>
	