<h1>Enter your favourite food</h1>

<% if @food.errors.any? %>
	<% @food.errors.full_messages.each do |msg| %>
		<%= msg %><br>
	<% end %>

<% end %>


<%= form_for @food do |f| %>
	Food Name:- <%= f.text_field :name %><br><br>
	Food Rating:- <%= f.number_field :rating %><br><br>
	Food price:- <%= f.number_field :price %><br><br>
	<%= f.submit %>
	<%= link_to "home", foods_path %>
	
<% end %>
