<% if notice %>
  <h5 class="m-5 " style="color:green"><%= notice %></h5> 
<% end %>
<h1 class="title is-1 m-5">This is new thing</h1>
<% if @user %>
	 <h2 class="title is-3 m-5"> You are logged in as <%= @user.email %> </h2>
	 <%= button_to "Logout",logout_path,method: :delete,class:'button is-danger ml-5' %>
	 <h3> You have <%= @user.tweets.count %> tweets </h3>
<% end %>