<h1 class="title m-5">You have <%= pluralize(@userTweets.count,'tweet') %> </h1>

<% @userTweets.each do |tweet| %>
    <div class="card m-5 ">
    <div class="card-content">
      <div class="content">
        <h2> <%= tweet.title %> </h2>
        <p> <%= tweet.body %> </p>
      </div>
    </div>
  	<%= link_to "Edit",edit_tweet_path(tweet.id) ,class:'button is-info m-3' %>
  	<%= link_to "Delete",tweet_path(tweet.id),method: :delete,data:{
  		confirm:"Delete?"
  	} ,class:'button is-danger m-3' %>

  	<%= link_to "Show",tweet_path(tweet.id) ,class:'button is-warning  m-3' %>

  </div>
  <hr>
  <!-- <hr> -->
<% end %>