<h1 class="title is-3 m-5">Change your password for email  <%= Current.reg.email %> </h1>


<% if Current.reg.errors.any?  %>
	<% Current.reg.errors.full_messages.each do |msg| %>
		<h3 class="m-5 title is-5 red" style='color:#f91616'><%= msg %></h3>
	<% end %>
<% end %>



<% if notice || flash[:alert] %>
	<h3 class="m-5 title is-5 red" style='color:#f91616'><%= notice %></h3>
	<h3 class="m-5 title is-5 red" style='color:#f91616'><%= flash[:alert] %></h3>
<% end %>
<%= form_with model:Current.reg, url:password_edit_path do |f| %>
	<div class="field m-5">
	 
	   <%= f.label :password ,class:"label"%>
	  <div class="control">
		<%= f.password_field :password,class:'input ' %>
	  </div>
	   <%= f.label :password_confirmation,"Confirm password" ,class:'label'%>
		<%= f.password_field :password_confirmation,class:'input' %> <br> <br>
		<%= f.submit "Reset Password" ,class:"button is-success is-light"%>
	</div>
<% end %>